<div class="banner2">

    <div class="banner-img2 ">
        </div>
            
            <div id="carousel-example2" class="carousel slide" data-ride="carousel" style="">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <div class="h1-slide-text">Lets get your business visible</div>
                            <div class="slide-text">3 easy steps</div>
                            
                        </div>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <!-- Controls  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->

</div>
            
    
    
            
    </div> 