<div class="container-fluid banner">

    <div class="banner-img" >
        </div>
            
            <div id="carousel-example" class="carousel slide" data-ride="carousel" style="">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <div class="h1-slide-text">Your Customers are Online</div>
                            <div class="h2-slide-text">Can They Find You?</div>
                            <div class="slide-text">Let CODERS4AFRICA build your website and social media in 48 hours for less than $10 a month.</div>
                            <div class="get-started"> 
                            <img src="images/button.png" class="img-responsive " ui-sref="getstarted-1">
                            </div>
                        </div>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <!-- Controls  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->

</div>
            
    
    
            
    </div> 