<div class="container">
   
   <div class="row">
      
      <section class="progress3">
         <img src="assets/images/progress-3.png" class="img-responsive col-md-7 col-xs-12">
          
      </section>
       
   </div>
   
   
   
   <div class="row steps-padding">
    
    <div class="col-md-4 col-sm-6 col-xs-12" >
       
       <div class="selected-template ">
           
           
       </div>
        
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" >
       
        <div class="selected-summary">
            
                    <h3 id="" class="text-c4a section-heading ">Business Name Here</h3>
                    <h4 id="" class="text-c4a section-heading ">Category: Technology</h4>
                    <h4 id="" class="text-c4a section-heading ">Pricing Package:Basic</h4>
                    
                    <div>
                    <p>
                        Confirmation receipt.This is dummy text, please don’t read any further. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat.</p></div>
        </div>
        <div class="actions">
           <button class="ui black massive button" ui-sref="getstarted-2" >Previous</button>
         <button class="ui orange massive button" ui-sref="getstarted-3">Submit <i class="glyphicon glyphicon-chevron-right"></i></button>
          
           
       </div>
        
    </div>
     
       
   </div>
   
   
    
</div>