<div class="container">
   
   <div class="row">
      
      <section class="progress2">
         <img src="assets/images/progress-2.png" class="img-responsive col-md-7 col-xs-12 ">
      </section>
       
   </div>
   
   
   <div class="row steps-padding">
     
     <div class="list-templates">
       <div class="col-md-1">
        </div>
        <div class="col-md-3 portfolio-item">
           <div class="contain-portfolio-item">
            </div>
             <img src="assets/images/portfolio2.png" alt="">
            <span>Basic Template 1</span>  
               
           
            
        </div>
        <div class="col-md-3 portfolio-item">
            <img src="assets/images/portfolio1.png" alt="">
            <span>Basic Template 2</span>
        </div>
        <div class="col-md-3 portfolio-item">
            <img src="assets/images/portfolio1.png" alt="">
            <span>Basic Template 3</span>
        </div>
        <div class="col-md-1">
        </div>
         
     </div>
      

   </div>
   
   
   <div class="row steps-padding">
     
      <div class="col-md-12 col-sm-12 col-xs-12">
       
       <div class="actions">
           <button class="ui black massive button" ui-sref="getstarted-1" >Previous</button>
         <button class="ui orange massive button" ui-sref="getstarted-3">Next</button>
           
       </div>
        
          
          
      </div>
      
   </div>
    
</div>