<div class="">
    <img src="" class="banner-img" />
<nav class="navbar navbar-default navbar-fixed-top ">
      <div class="container" style="opacity: 0.5;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="pull-left" id="logo">
            <a  ng-click=""  href="">
            <img src="assets/images/C4A-logo.png">
            </a>

            </div>
          <a class="navbar-brand " id="banner-text" ng-click=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav main-nav">
              <li ><a class="" ui-sref="#">HOME</a></li>
              <li ><a class="" ui-sref="#">SERVICES </a></li>
              <li ><a class="" ui-sref="#">HOW IT WORKS</a></li>
              <li ><a class="" ui-sref="#">PRICING</a></li>
              <li ><a class="" ui-sref="#">ABOUT US</a></li>
              <li ><a class="" ui-sref="#">CONTACT</a></li>

          </ul>
          

        </div><!--/.nav-collapse -->
      </div>
    <div class="row">
        <div class="container">
          <div class="col-md-12">
              Your Customers are Online

    </div> 
            <div class="col-md-12">
              Can They Find You?

    </div> 
            <div class="col-md-12">
              Let CODERS4AFRICA build your website and social media in 48 hours
for less than $10 a month

    </div>
            <div class="col-md-12">
              

    </div> 
            

    </div>

    </div>
    </nav>


  






</div>
