/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.filter{
    background: url(images/filter.png);
    height: 639px;
    left: 0px;
    right: 0px;
    min-width: 100%;
    position: relative;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
    border-radius: 0px !important;
    font: white !important;
}
/*Carouosel*/
.carousel{
    width:100% !important;
    -webkit-filter: grayscale(0) brightness(1) !important;
    filter: grayscale(0) brightness(1) !important;
    
}
#carousel-example{
    padding-top: 200px;

}
#logo{
    margin-top: 5%;
}
#banner{
    margin-top: 8%;
}
#mainNav{}
.collapse{
    margin-top: 2%;
}
.banner{
    position:relative;
    height: 639px;
    
    min-width: 100%;
    
}
.banner-img{
    left: 0px;
    right: 0px;
    position:absolute;
    width:100%;
    height:100%;
    background: url( ../images/BANNER.png);
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-filter: grayscale(1) brightness(0.5);
    filter: grayscale(1) brightness(0.5);
   
}

.get-started{
    
    
    font-family: 'Myriad Pro';
    font: 400 7.46px 'Myriad Pro';
    margin-top: 6%;
    cursor: pointer;
    
}
.h1-slide-text{
    
    font: 700 2.7em 'Myriad Pro';
    line-height: 2em;
    color: #ffffff;
    margin-bottom: 0;
}
.h2-slide-text{
    
    font: 700 2.5em / 2em 'Myriad Pro';
    color: #ff7200;
    margin-bottom: 0;

}
.banner2-slide-text{
    
    font: 700 2.7em / 2em 'Myriad Pro';
    color: #ffffff;
    margin-bottom: 0;

}
.slide-text{
    
    font: 700 1.8em / 1.4em 'Myriad Pro';
    color: #ffffff;
    margin-bottom: 0;
    
}
.no-padding{
    padding:0 !important;
    
}
.how-img{
    min-width: 100%;
    position: relative;
    left: 0px;
    right: 0px;
    
}
.navbar-default .navbar-nav>li>a {
    color: white !important ;
    cursor: pointer !important;
    
}

.navbar-default {
   /**  background-color: transparent  !important;
     border-color: transparent  !important;**/
     
}
.border-right{
     
    border-right: 2px solid #cccccc;
    
}
.border-bottom{
    
    border-bottom: 2px solid #cccccc;

}

#fillinfor,#pricing,#featuredwork,#contact-us{
    
    margin-top: 3em;
    margin-bottom: 3em;
}

#services{
    
    margin-top: 2em;
    margin-bottom: 2em;
}
.services{
    
    height:200px;

}

.hem{
    
    background: url(images/PATTERN-copy-2.png);
    bottom: 0px;
    height: 38px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0;
    
    
}
.margin-field{
    margin-top: 8px !important;
}

.center-img{
    margin-left: 32%;
    margin-top: 10%;
    margin-bottom: 2%;

}
.section-notes{
    color: #000000;
    font: 400 18px Helvetica;
}
.bg-icon1{
    
    left: 0px;
    right: 0px;
    width:100%;
    height:100%;
    background: url(images/Ellipse-5.png);
    background-repeat: no-repeat;
    margin-top: 8%;


}
.bg-icon-infor{
    
    left: 0px;
    right: 0px;
    width:100%;
    height:100%;
    background-repeat: no-repeat;


}
.bg-icon-small{
    
    left: 0px;
    right: 0px;
    width:100%;
    height:100%;    
    background: url(assets/images/Ellipse-1.png);
    background-repeat: no-repeat;
    margin-top: 200%;


}
.bg-icon3{
    
    left: 0px;
    right: 0px;
    width:100%;
    height:100%;
    background: url(assets/images/Ellipse-3-copy-4.png);
    background-repeat: no-repeat;
    margin-top: 8%;


}
.howitworks{
    
    position:relative;
    height: 303px !important;
    
    min-width: 100%;

}

.banner-steps{
    left: 0px;
    right: 0px;
    position:absolute;
    width:100%;
    height:100%;
    background: url( ../images/zoom-33353166-3.png);
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-filter: grayscale(0.2) brightness(0.5);
    filter: grayscale(0.2) brightness(0.5);
   
}

.carousel-control {
    width: 0% !important;;
    color: #fd953a !important;
    
}

.text-c4a{ color: #fd953a !important; font-weight: 500; }

.ui.facebook.button,.ui.linkedin.button,.ui.twitter.button {
    background-color: #949494 !important;
}

.footer-text,.section-heading{
color: #949494;
}

.item{
    text-align: center;
}
.social{
    margin-left: 46.5% ;
    margin-top:1.6% ;
    margin-bottom:2% ;
}
c4a{
    
    font-size: 13.95px;
    color: #fd953a;
    font-weight: 600;

}

.margin-social{
    margin: 8px !important;
}
.glyphicon-chevron-left {
    margin-left: -35px !important;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.pr-basic{
    background-color: #fd953a;

}
.pr-standard{
    background-color: #ff592e;

}
.pr-premium{
    background-color: #1479c7;

}
.cd-header {
  height: 100px;
  line-height: 170px;
  position: relative;
}
.cd-header h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 160px;
    line-height: 280px;
  }
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
    
}

.cd-pricing-container {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
 .cd-currency, .cd-value {
  font-size: 3rem;
  font-weight: 300;
}

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
.cd-popular, .cd-duration ,.pr-standard ,.pr-premium, .pr-basic {
  color: white;
}
.cd-duration::before {
  content: '/';
  margin-right: 2px;
} 
 .get-started>img {
    display: inline ;
    
}

@media only screen and (min-width: 768px) {
  .cd-value {
    font-size: 7rem;
    font-weight: 300;
  }
}

  
  .cd-currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
  }

  .cd-duration {
    font-size: 1.4rem;
  }
}
.cd-pricing-list {
  margin: 2em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}

.cd-pricing-header h2 {
    margin: 3px;
    padding: 24px;
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 1px solid white;
}

.cd-pricing-features li {
  padding: 16px;
  font-size: 1.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid white;
  text-overflow: ellipsis;
}
.cd-pricing-features em {
  margin-bottom: 5px;
  font-weight: 600;
}
.cd-pricing-footer {
  
  height: 80px;
  width: 100%;
}
.cd-pricing-footer button{
    
    background-color: #ffffff !important;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    
    #logo {
    margin: 0% 22% 2% 32%;
}
    .h1-slide-text {
    font: 700 1.3em "Myriad Pro";
    color: #FFF;
    margin-bottom: 10px;
}
    .h2-slide-text {
    font: 700 1.2em "Myriad Pro";
    color: #FF7200;
    margin-bottom: 10px;
}
    .slide-text {
    font: 700 1em "Myriad Pro";
    color: #FFF;
    margin-bottom: 20px;
    
}
    .banner {
    height: 380px;
    min-width: 100%;
}
    
    .banner-img {
    height: 100%;
    
}
    #carousel-example{
    padding-top: 120px;

}
    .center-img {
    margin-left: 0%;
    
}
    .services{
    
   padding-right: 0px !important;
   border-bottom: 2px solid #cccccc;
   border-right: 0px solid #cccccc !important;

}
    .section-notes {
    color: #000;
    font: 500 15px Helvetica;
}
    .col-xs-6 {
    border-right: 2px solid #cccccc !important ;
}
    .place-right{
        
         border-right: 0px solid #cccccc !important;
    
    }
    .contact-details>p{
    padding: 20px 20px 30px 60px;
    }
    .glyphicon-chevron-left {
    margin-left: -15px !important;
}
    
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
    #logo {
    margin: 10px;
}
   
     .banner {
    height: 350px;
    min-width: 100%;
}
    .h1-slide-text {
    font: 700 2em "Myriad Pro";
    color: #FFF;
    margin-bottom: 10px;
}
    .h2-slide-text {
    font: 700 1.8em "Myriad Pro";
    color: #FF7200;
    margin-bottom: 10px;
}
    .slide-text {
    font: 700 1.1em "Myriad Pro";
    color: #FFF;
    margin-bottom: 20px;
    
}
    .get-started>img {
    display: inline ;
    
}
    .contact-img>img{
        margin-left:3.2em;
    
    }
    .contact-details>p{
    padding: 20px 20px 30px 60px;
    }
    
    
    .social {
        width: 50% !important;
    margin: 0 auto !important;
}
    .navbar-nav > li > a {
    
    font-size: 12px;
}
        
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
     .banner {
    height: 420px;
}
    
    
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
     .banner {
    height: 440px;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
    .get-started>img {
    display: inline ;
    
}
     
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    .get-started>img {
    display: inline ;
    
}
    .banner{
    position:relative;
    height: 639px;
    
    min-width: 100%;
    
}
    .h1-slide-text{
    
    font: 700 2.7em 'Myriad Pro';
    line-height: 2em;
    color: #ffffff;
    margin-bottom: 0;
}
.h2-slide-text{
    
    font: 700 2.5em / 2em 'Myriad Pro';
    color: #ff7200;
    margin-bottom: 0;

}
.banner2-slide-text{
    
    font: 700 2.7em / 2em 'Myriad Pro';
    color: #ffffff;
    margin-bottom: 0;

}
.slide-text{
    
    font: 700 1.8em / 1.4em 'Myriad Pro';
    color: #ffffff;
    margin-bottom: 0;
    
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}