 <div class="banner">

    <div class="banner-img">
        </div>
            
            <div id="carousel-example" class="carousel slide" data-ride="carousel" style="">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <div class="h1-slide-text">Your Customers are Online</div>
                            <div class="h2-slide-text">Can They Find You?</div>
                            <div class="slide-text">Let CODERS4AFRICA build your website and social media in 48 hours for less than $10 a month.</div>
                            <div class="get-started"> 
                            <img src="images/button.png" class="img-responsive ">
                            </div>
                        </div>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <!-- Controls  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->

</div>
            
    
    
            
    </div> 
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h2 class="section-heading">What We Offer</h2>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                    <div class="">
                        
                        <div class="bg-icon1 center-img">
                    <img src="assets/images/Vector-Smart-Object.png" class="img-responsive " style="position: relative; padding: 27px;">
                       
                    </div>
                     
                    
                    </div>
                    <div style="" class="row section-notes">Responsive Modern Website</div>
                    
                    
                    
                    
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                   <img src="assets/images/Vector-Smart-Object-copy-6.png" class="img-responsive center-img">
                    <span class="section-notes"> Social Media Marketing</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                    <div class="">
                        
                        <div class="bg-icon3 center-img">
                    <img src="assets/images/develop.png" class="img-responsive " style="position: relative; padding: 27px;">
                       
                    </div>
                     
                    
                    </div>
                    <div style="" class="row section-notes">Mobile APP Development</div>
                   
                </div>
                
            </div>
            
            <div class="">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                                        
                    <div class="">
                        
                        <div class="bg-icon1 center-img">
                    <img src="assets/images/email.png" class="img-responsive " style="position: relative; padding: 27px;">
                       
                    </div>
                     
                    
                    </div>
                    <div style="" class="row section-notes">Domain Hosting & Email</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                  <div class="">
                        
                        <div class="bg-icon3 center-img">
                    <img src="assets/images/brand.png" class="img-responsive " style="position: relative; padding: 27px;">
                       
                    </div>
                     
                    
                    </div>
                    <div style="" class="row section-notes">Brand Identity Design</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center border-right border-bottom services">
                                       
                    <div class="">
                        
                        <div class="bg-icon1 center-img">
                    <img src="assets/images/Vassistant.png" class="img-responsive " style="position: relative; padding: 30px;">
                       
                    </div>
                     
                    
                    </div>
                    <div style="" class="row section-notes">Virtual Tech Assistant</div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="no-padding" id="howitworks">
        
        <div class="howitworks">

    <div class="banner-steps">
        </div>
            
            <div id="carousel-example" class="carousel slide" data-ride="carousel" style="padding-top: 100px;">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <div class="banner2-slide-text">How It Works</div>
                            <div class="slide-text">3 easy steps</div>
                            
                        </div>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
   
</div>
            
    
    
            
    </div>
        
    </section>

    <section id="fillinfor" style="background-color: #f3f3f3 !important;">
     <div class="container" style="padding: 2em;">
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="position: relative !important;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="active">
        
        <div class="col-md-4 col-sm-4 col-xs-6"><img src="assets/images/basic-infor.png" alt="..." class="img-responsive "></div>
        <div class="col-md-8 col-sm-8 col-xs-6">
        <div class="">
        <div class="">
                    <h2 id="" class="section-heading" style="margin-top:5%;">Fill Basic Information</h2>
                    
                    <p style="margin-top:5%;">Lorem ipsum dolor sit amet, eu cum eius animal mandamus. Quas saepe mediocritatem mei eu, et fabellas adversarium qui, ius ex ullum aeque incorrupte. Sint decore efficiantur id vix. Ius an modo tempor interpretaris, ludus bonorum scriptorem id cum, omnium voluptatibus cu cum.</p>
                </div>
      </div>
        </div>
      
      
    </div>
   <!-- <div class="">
      <div class="col-md-4 col-sm-4 col-xs-6"><img src="assets/images/basic-infor.png" alt="..." class="img-responsive "></div>
        <div class="col-md-8 col-sm-8 col-xs-6">
        <div class="">
        <div class="">
                    <h2 id="" class="section-heading" style="margin-top:5%;">Fill Basic Information</h2>
                    
                    <p style="margin-top:5%;">Lorem ipsum dolor sit amet, eu cum eius animal mandamus. Quas saepe mediocritatem mei eu, et fabellas adversarium qui, ius ex ullum aeque incorrupte. Sint decore efficiantur id vix. Ius an modo tempor interpretaris, ludus bonorum scriptorem id cum, omnium voluptatibus cu cum.</p>
                </div>
      </div>
        </div>
    </div>-->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
            
            
        </div>
</section>

<section id="pricing" class="border-bottom">
    
    
    <div class="container" style="margin-bottom:2em;">
        <h2 id="text-green" class="section-heading text-center">Our Pricing</h2>
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pr-basic text-center">
            
            
				<header class="cd-pricing-header">
					<h2>BASIC</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">10</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>USD 50</em> PER YEAR SAVE <em>30%</em></li>
						<li><em>50</em> Personal Themes</li>
						<li><em>Free Domain  </em> with annual plan</li>
						<li><em>20 GB </em>  Disk Space</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<footer class="cd-pricing-footer">
					<button class="text-c4a massive ui button"> BUY NOW </button>
				</footer> <!-- .cd-pricing-footer -->
        </div>          
        </div> <!-- end .pr-basic -->
        
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pr-standard cd-popular text-center">
				<header class="cd-pricing-header">
					<h2>STANDARD</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">25</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>USD 50</em> PER YEAR SAVE <em>30%</em></li>
						<li><em>100</em> Personal Themes</li>
						<li><em>Free Domain  </em> with annual plan</li>
						<li><em>50 GB </em>  Disk Space</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<footer class="cd-pricing-footer">
					<button class=" text-c4a massive ui button"> BUY NOW </button>
				</footer> <!-- .cd-pricing-footer -->
			</div>
        </div> <!-- end .pr-standard -->
        
        <div class="col-md-4 col-sm-4 col-xs-12">
            
            <div class="pr-premium text-center">
				<header class="cd-pricing-header">
					<h2>PREMIUM</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">75</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>USD 50</em> PER YEAR SAVE <em>30%</em></li>
						<li><em>300</em> Personal Themes</li>
						<li><em>Free Domain  </em> with annual plan</li>
						<li><em>100 GB </em>  Disk Space</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->
                <footer class="cd-pricing-footer">
					<button class="text-c4a massive ui button"> BUY NOW </button>
				</footer>  <!-- .cd-pricing-footer -->
			</div>
            
        </div> <!-- end .pr-premium -->
        
        </div>
    </div>
        
        
    </section>

<section id="featuredwork" class="border-bottom container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-xs-12">
                    <img src="assets/images/Layer-61.png" class="img-responsive">
                    
                </div>
                <div class="col-lg-5 col-md-6 col-xs-12" style="padding:12px;">
                    
                    <h2 id="" class="section-heading ">Featured Work</h2>
                    <h3 id="" class="text-c4a section-heading ">Client Name</h3>
                    <h4 id="" class="text-c4a section-heading ">Project Title</h4>
                    <h4 id="" class="text-c4a section-heading ">Categoty</h4>
                    
                    <div>
                    <p>
                        Lorem ipsum dolor sit amet, eu cum eius animal mandamus. Quas saepe mediocritatem mei eu, et fabellas adversarium qui, ius ex ullum aeque incorrupte. Sint decore efficiantur id vix. Ius an modo tempor interpretaris, ludus bonorum scriptorem id cum, omnium voluptatibus cu cum. Eius deterruisset ut per, eos no congue ceteros posidonium. Te eam elit contentiones, mea id ancillae volutpat dissentiunt</p></div>
                </div>
                
               
            </div>
            
           
        </div>
    </section>

<section id="contact-us" class="contact-us">
        <div class="container-fluid">
            
            <h2 id="text-green" class="section-heading text-center" style="margin:1em;">Contact Us</h2>
            
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                
                <div class="col-lg-4 col-md-4 col-xs-12 border-right contact-img" style="margin-bottom:2em;">
                  <img src="assets/images/Layer-64-copy.png" class="img-responsive" style="">
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 contact-details " >
                    <p style="">
                    US: +1 20 2345 678 <br>
                    
                    KE: +1 20 2345 678<br>
                   sales@coders4africa.com<br>
                   info@coders4africa.com<br>

                   US: +1 20 2345 678<br>
                   KE: +1 20 2345 678<br>
                   sales@coders4africa.com<br>
                   info@coders4africa.com<br>

                   Locate us on the map</p>
                    
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    
                    <div class="ui form ">
                        <div class="field">
                            <input type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="ui form margin-field">
                        <div class="field">
                            <input type="text" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="ui form margin-field">
                        <div class="field">
                            <input type="text" placeholder="Subject">
                        </div>
                    </div>
                    <div class="ui form margin-field">
                        <div class="field">
                            <textarea placeholder="Message"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
                
               
            </div>
            
           
        </div>
    </section>