<div class="container">
    <div class="row-fluid">
       
        <div class="col-md-9">
            
        </div>
        
        <div  class="col-md-3">
           
           <div class="side-nav" id="">
                        
                        <div class="cat-header"> Categories </div>
                        
                        <div class="ui large vertical menu" id="stats">
                              <a class="item">
                                
                                ALL
                              </a>
                              <a class="item">
                                <div class="ui teal label">3308</div>
                                Drugs
                              </a>
                              <a class="item">
                                <div class="ui label">1850</div>
                                Manufacturers
                              </a>
                              <a class="item">
                                <div class="ui label">2100</div>
                                Brands
                              </a>
                              <a class="item">
                                <div class="ui label">3210</div>
                                Diseases
                              </a>
                              <a class="item">
                                <div class="ui label">4212</div>
                                Distributors
                              </a>
                              <a class="item">
                                <div class="ui label">48</div>
                                Countries
                              </a>
                              
                        </div>
                        
                        <div id="advert-left">
                           <img src="./assets/images/ADVERT2.png"> 
                        </div>
                        
                        
                        
                         
                     </div>
            
        </div>
        
    </div>
    
</div>